html{
    background-color: #DCD7C9;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #A27B5C;
    border-width: 5px;
    width: 5%;
}
img{
    width: 100px;
    height: 100px;
}
img.profile{
    position: absolute;
    left: 540px;
    
}
h1,h3{
    color: #3F4E4F;
}
p,table,ol,ul{
    color:#3F4E4F;
}
