body{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /*background: linear-gradient(90deg, #38997c 0%, #6eb8cc 35%, #7005b3a8 100%);*/
    background: rgb(10,105,191);
    background: linear-gradient(0deg, #0a69bf 0%, #010406 100%);
    color: white;
}
h1{
    font-size: 5.16rem;
    margin: 50px auto 0px auto;
    font-family: 'Merriweather', serif;
    color:#F7ECDE;
    line-height: 2;

}
h2{
    color: #F7ECDE;
    font-weight: normal;
}
h3{
    color: #E9DAC1;
}
a{
    color: #D6EFED;
}
footer{
    background-color: #1F4068;
}
p{
    line-height: 2;
}
hr{
    border: dotted #E43F5A 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
nav{
    display: flex;
    position: fixed;
    min-width: 100%;
    flex-wrap: no-wrap;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;
    z-index: 100;
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #40beaa 50%, rgba(9,90,121,1) 100%);
}
a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:hover{
    color:#9365DB;
    font-weight: bolder;
    cursor: pointer;
    transform: scale(1.1);
}

footer{
   
}
.nav-element{
    transition: all 0.3s ease 0s;
}
.nav-element:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-image{
    width: 20%;
}
.code-image{
    float: left;
    margin-right: 30px;
}
.sql-image{
    float: right;
    margin-left: 30px;
}
.bar{
    background: #ffffff;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px beige;
}
.bar span{
    height: 5px;
    float: left;
    background: #21E6C1;
}
.sql-skill{
    width: 75%;
    animation: sql-skill 2s;
}
.vhdl-skill{
    width: 50%;
    animation: vhdl-skill 2s;
}
.python-bar{
    width: 75%;
    animation: python-bar 2s;
}
.c-bar{
    width: 80%;
    animation: c-bar 2s;
}
.html-bar{
    width: 60%;
    animation: c-bar 2s;
}
.css-bar{
    width: 60%;
    animation: c-bar 2s;
}
.post-bar{
    width: 70%;
    animation: c-bar 2s;
}
.know-image{
    width: 150px;
    margin-bottom: 2rem;
}
.know-image:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.4s;
}
.profile{
    margin-top: 100px;
}
.profile-picture{
    width: 15%;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #40beaa;
    float: left;
    margin: 30px 60px 0 25px;
}
.div-about{
    width: 95%;
    height: 320px;
    margin: 100px auto 100px auto;
    background-color: #1F4068;
    text-align: left;
    line-height: 2;
}
.top-container{
    padding-top: 100px;
    position: relative;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 100px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.middle-container{
}
.div-knowledge{
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;
}
.exper-div{
    display: flex;
    min-width: 100%;
    flex-wrap: no-wrap;
    justify-content: space-around;
    margin: 100px auto;
    text-align: center;
    align-items: center;
}  
.exper-image{
    width: 150px;
    margin-bottom: 2rem;
}
.btn-div{
    display: flex;
}
.btn{
    font-size: large;
    border-radius: 15px;
    box-shadow: rgb(64 190 170) 0px 0px 20px;
    padding: 20px;
    margin: 50px auto;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    background: linear-gradient(0deg, #0a69bf 0%, #010406 100%);
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.3);
    
}
.contact-message{
    width: 40%;
    margin: 40px auto 40px;
}
.bottom-container{
    background-color: black;
    box-shadow: violet 0px 0px 20px;
    padding: 50px 0 20px;
    margin-top: 50px;
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;

}
.footer-link{
    font-size: 40px;
}
@keyframes sql-skill{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes python-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes c-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes html-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes css-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes vhdl-skill{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes post-skill{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}